:root {
  --speed: 2s;
  --speed2: calc(var(--speed)*2);
  --speed3: 1s
}
* {
  margin:0;
}
.App {
  text-align: center;
}

.App-logo-1 {
  height: 40vmin;
  pointer-events: none;
  border:80px black solid;
  border-radius: 50%;


}
.App-logo-2 {
  height: 20vmin;
  pointer-events: none;
  border:50px black solid;
  border-radius: 50%;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-1 {
    animation: App-logo-spin infinite var(--speed) linear;
    margin:auto 0px;
  }
  .App-logo-2 {
    animation: App-logo-spin2 infinite var(--speed3) linear;
    margin-left:-135px;
  }
}

.App-header {
  background-color: #282aaa;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.inline-wheels {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.justify-start {
  justify-self: start;
}

.monster-names{
  text-shadow: 4px 4px 3px black
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
@keyframes App-logo-spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }

}

table {
  margin:10px 0px;
  font-size:13px;
  text-align: left;
  font-size:15px;
  font-weight: bold;
  border:4px solid white;
   border-collapse: collapse;
   text-shadow: 3px 3px 2px black;
}
th {
  text-align: center;
  font-size: 18px;
}

th, td {
  border: 2px solid white;
  border-collapse: collapse;
  padding:5px;
    
}
tr:nth-child(even) {background-color: rgba(170,170,170,0.2);}